<form class="item">
    <input
      type="text"
      name="first-name"
      id="first-name"
      placeholder="First name"
      [(ngModel)]="firstName"
    />
    <input
      type="text"
      name="last-name"
      id="last-name"
      placeholder="Last name"
      [(ngModel)]="lastName"
    />
    <button type="submit" (click)="addPerson()">
      <i>+</i>
    </button>
    <button type="button" (click)="clearPersonsList()">
      <i class="fa fa-trash" aria-hidden="false"></i>
    </button>

    <!-- <button
      type="submit"
      [disabled]="!getPersonsLength()"
      (click)="clearPersonsList()"
    >
      Clear list
    </button> -->
</form>
