<section class="box">
  <form class="item" (ngSubmit)="f.form.valid && onSavePerson()" #f="ngForm">
    <input
      required
      type="text"
      name="first-name"
      id="first-name"
      placeholder="First name"
      [(ngModel)]="firstName"
    />
    <input
      required
      type="text"
      name="last-name"
      id="last-name"
      placeholder="Last name"
      [(ngModel)]="lastName"
    />
    <button
      *ngIf="this.editMode"
      type="submit"
      style="cursor: pointer; margin-right: 4px"
    >
      +
    </button>
    <button
      *ngIf="idx && this.editMode"
      type="button"
      (click)="removePerson()"
      style="cursor: pointer; margin-right: 4px"
      class="button-red"
    ><i class="fa fa-trash"></i></button>
  </form>
</section>
