<section class="container">
  <div class="row">
    <h1>{{ title }}</h1>
  </div>
  <hr />
  <app-form
    (newPerson)="addNewPerson($event)"
    (clearFlag)="clearList()"
    [personsLength]="persons.length"
  />
  <hr />
  <div class="row">
    <div class="col" *ngIf="persons.length; else emptyList">
      <ul>
        <li *ngFor="let person of persons; let idx = index">
          <app-person [person]="person" [pos]="idx + 1" />
        </li>
      </ul>
    </div>
  </div>
</section>

<ng-template #emptyList>
  <h1>Uh oh, your list is empty!</h1>
</ng-template>
